@font-face {
    font-family: 'Futura';
    src: url(assets/fonts/Futura-light.TTF) format(TrueType);
    font-weight: 300;
}


@font-face {
    font-family: 'Futura';
    src: url(assets/fonts/Futura-regular.TTF) format(TrueType);
    font-weight: 400;
}

@font-face {
    font-family: 'Futura';
    src: url(assets/fonts/Futura-medium.TTF) format(TrueType);
    font-weight: 500;
}

@font-face {
    font-family: 'Futura';
    src: url(assets/fonts/Futura-bold.TTF) format(TrueType);
    font-weight: 700
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-futura font-normal bg-[#F3F3F3]
}

a, p {
    @apply md:text-xl text-base font-thin
}

h1, h2 {
    @apply md:text-3xl text-xl
}

h3 {
    @apply text-lg font-bold tracking-wider
}

li {
    @apply text-sm lg:text-lg
}